.mast {
	float: left;
	width: 40%;
	margin-left: 5%;
}
.intro {
	margin-top: 120px;
	margin-left: 50px;
	margin-right: 50px;
	width: 100%;
}
.writing {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 100px;
	width: 90%;
}
.credit {
	float: right;
	width: auto;
	margin-bottom: 10%;
	margin-right: 10%;
}